body{
    font-size: 65%;
    background-color: black;
    margin: 0;
}

#emboltura{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 810px;
    /*width: 978px;*/
}
#cabecera{
    color: darkred;
    font-weight: bold;
    background-color: cadetblue;
    font-size: 18px;
    display: block;
    background-color: cadetblue;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: darkslategray solid medium;
}

footer{
    background-color: cadetblue;
    font-size: 14px;
    line-height: 28px;
    padding-left: 10px;
    border-top: darkslategray solid medium;
}

footer div {
    display: inline-block;
    width: 130px;
}

#puntos,
#nivel,
#tiempo,
#tiempo_max,
#food
{
    color: darkred;
    font-size: 18px;
    font-weight: bold;

}

.jugador,.jugador-left,.jugador-top,.jugador-right,.jugador-down,
.food1,.food2,.food3,.food4,
.block,
.fondo,
.phanA,.phanA_1,.phanA_2,.phanA_3,.phanA_4,
.phanB,.phanB_1,.phanB_2,.phanB_3,.phanB_4,
.phanC,.phanC_1,.phanC_2,.phanC_3,.phanC_4
{
    width: 27px;
    height: 25px;
    border: 0;
    display: inline-block;


}


.food1{
    background: url('img/6.png') no-repeat center center ;
}
.food2{
    background: url('img/8.png') no-repeat center center ;
}
.food3{
    background: url('img/9.png') no-repeat center center ;
}
.food4{
    background: url('img/10.png') no-repeat center center ;
}


.block{
    background: url('img/block.png') no-repeat center center ;
}

.fondo{
    background: url('img/fondo.png') no-repeat center center ;
}

#pantalla:after{
    clear: both;
}
#pantalla {
    /*width: 978px;*/
    background: url('img/green.jpg')  center center ;
}

.jugador {
    background: url('img/1.png') no-repeat center center ;
}
.jugador-left {
    background: url('img/2.png') no-repeat center center ;
}
.jugador-top {
    background: url('img/4.png') no-repeat center center ;
}
.jugador-right {
    background: url('img/5.png') no-repeat center center ;
}
.jugador-down {
    background: url('img/7.png') no-repeat center center ;
}

.phanA{
    background: url('img/phanA_1.png') no-repeat center center ;
}
.phanA_1{
    background: url('img/phanA_1.png') no-repeat center center ;
}

.phanA_2{
    background: url('img/phanA_1.png') no-repeat center center ;
}

.phanA_3{
    background: url('img/phanA_1.png') no-repeat center center ;
}
.phanA_4{
    background: url('img/phanA_1.png') no-repeat center center ;
}

.phanB{
    background: url('img/phanB_1.png') no-repeat center center ;
}
.phanB_1{
    background: url('img/phanB_1.png') no-repeat center center ;
}

.phanB_2{
    background: url('img/phanB_1.png') no-repeat center center ;
}

.phanB_3{
    background: url('img/phanB_1.png') no-repeat center center ;
}
.phanB_4{
    background: url('img/phanB_1.png') no-repeat center center ;
}

.phanC{
    background: url('img/phanC_1.png') no-repeat center center ;
}
.phanC_1{
    background: url('img/phanC_1.png') no-repeat center center ;
}

.phanC_2{
    background: url('img/phanC_1.png') no-repeat center center ;
}

.phanC_3{
    background: url('img/phanC_1.png') no-repeat center center ;
}
.phanC_4{
    background: url('img/phanC_1.png') no-repeat center center ;
}